@{
    ViewData["Title"] = "Clientes";
}
<h1>Clientes</h1>
<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Razão Social</th>
        </tr>
    </thead>
    <tbody id="tbodyClientes"></tbody>
</table>

@section Scripts {
    <script src="~/js/cliente.js"></script>
}
