@{
    ViewData["Title"] = "Clientes";
}

<h2>Cadastro de Cliente</h2>
<link href="~/css/site.css" rel="stylesheet" />
<form id="formCliente">
    <input type="hidden" id="CodigoCliente"  value="0"/>

    <div class="row">
        <div class="col-md-6 mb-2">
            <label>Razão Social</label>
            <input type="text" id="RazaoSocial" class="form-control" required />
        </div>
        <div class="col-md-6 mb-2">
            <label>Nome Fantasia</label>
            <input type="text" id="NomeFantasia" class="form-control" required />
        </div>

        <div class="col-md-4 mb-2">
            <label>Tipo Pessoa</label>
            <select id="TipoPessoa" class="form-select">
                <option value="F">Física</option>
                <option value="J">Jurídica</option>
            </select>
        </div>

        <div class="col-md-4 mb-2">
            <label>Documento</label>
            <input type="text" id="Documento" class="form-control" required />
        </div>

        <div class="col-md-4 mb-2">
            <label>CEP</label>
            <input type="text" id="CEP" class="form-control" required />
        </div>

        <div class="col-md-6 mb-2">
            <label>Endereço</label>
            <input type="text" id="Endereco" class="form-control" required />
        </div>

        <div class="col-md-6 mb-2">
            <label>Complemento</label>
            <input type="text" id="Complemento" class="form-control" />
        </div>

        <div class="col-md-4 mb-2">
            <label>Bairro</label>
            <input type="text" id="Bairro" class="form-control" required />
        </div>

        <div class="col-md-4 mb-2">
            <label>Cidade</label>
            <input type="text" id="Cidade" class="form-control" required />
        </div>

        <div class="col-md-4 mb-2">
            <label>UF</label>
            <input type="text" id="UF" class="form-control" maxlength="2" required />
        </div>
    </div>

    <h4 class="mt-4">Telefones</h4>
    <table class="table table-bordered" id="tabelaTelefones">
        <thead>
            <tr>
                <th>Número</th>
                <th>Operadora</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button type="button" onclick="adicionarTelefone()" class="btn btn-secondary">+ Telefone</button>

    <hr />
    <button type="submit" class="btn btn-success">Salvar</button>
    <button type="button" onclick="limparFormulario()" class="btn btn-light">Cancelar</button>
</form>

<hr />

<h2>Lista de Clientes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Razão Social</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="tbodyClientes"></tbody>
</table>

@section Scripts {
    <script src="~/js/cliente.js"></script>
}